{% extends "base.html" %}

{% load widget_tweaks %}


{% block title %} Purchases List {% endblock title %}


{% block content %}
    
    <div class="row" style="color: #575757; font-style: bold; font-size: 3rem;">
        <div class="col-md-8">Purchases List</div>
        <div class="col-md-4">            <!-- Log on to freeprojectscodes.com for more projects -->   
            <div style="float:right;"> 
                <a class="btn btn-success" href="{% url 'select-supplier' %}">New Incoming Stock</a> 
                <button class="btn btn-primary" onclick="exportPurchasesToExcel()">Export to Excel</button>
            </div>
        </div>
    </div>

    <br>

    <table class="table table-css table-hover table-bordered">

        <thead class="thead-dark align-middle">
            <tr>
                <th width="10%">Bill No.</th>
                <th width="15%">Supplier</th>
                <th width="15%">Stocks Purchased</th>
                <th width="10%">Quantity Purchased</th>
                <th width="15%">Total Purchased Price</th>
                <th width="10%">Purchased Date</th>
                <th width="25%">Actions</th>
            </tr>
        </thead>

{% if bills %}

        <tbody>         
            {% for purchase in bills %}
            <tr>
                <td class="align-middle"> <p>{{ purchase.billno }}</p> </td>
                <td class=""> 
                    {% if purchase.supplier.is_deleted %}
                        {{ purchase.supplier }}<br> 
                    {% else %}
                        <a href="{% url 'supplier' purchase.supplier.name %}">{{ purchase.supplier }}</a> <br> 
                    {% endif %}
                    <small style="color: #909494">Ph No : {{ purchase.supplier.phone }}</small> 
                </td><!-- Log on to freeprojectscodes.com for more projects -->
                <td class="align-middle">{% for item in purchase.get_items_list %} {{ item.stock.name }} <br> {% endfor %}</td>
                <td class="align-middle">{% for item in purchase.get_items_list %} {{ item.quantity }} <br> {% endfor %}</td>     
                <td class="align-middle">${{ purchase.get_total_price }}</td>
                <td class="align-middle">{{ purchase.time.date }}</td>
                <td class="align-middle"> <a href="{% url 'purchase-bill' purchase.billno %}" class="btn btn-secondary btn-sm">View Bill</a> <a href="{% url 'delete-purchase' purchase.pk %}" class="btn btn-danger btn-sm">Delete Bill</a> </td>
            </tr>
            {% endfor %}
        </tbody>

    </table>

    <div class="align-middle">
        {% if is_paginated %}

            {% if page_obj.has_previous %}
                <a class="btn btn-outline-info mb-4" href="?page=1">First</a>
                <a class="btn btn-outline-info mb-4" href="?page={{ page_obj.previous_page_number }}">Previous</a>
            {% endif %}

            {% for num in page_obj.paginator.page_range %}
                {% if page_obj.number == num %}
                    <a class="btn btn-info mb-4" href="?page={{ num }}">{{ num }}</a>
                {% elif num > page_obj.number|add:'-3' and num < page_obj.number|add:'3' %}
                    <a class="btn btn-outline-info mb-4" href="?page={{ num }}">{{ num }}</a>
                {% endif %}
            {% endfor %}

            {% if page_obj.has_next %}
                <a class="btn btn-outline-info mb-4" href="?page={{ page_obj.next_page_number }}">Next</a>
                <a class="btn btn-outline-info mb-4" href="?page={{ page_obj.paginator.num_pages }}">Last</a>
            {% endif %}

        {% endif %}
    </div>

{% else %}

        <tbody></tbody>  <!-- Log on to freeprojectscodes.com for more projects --> 
    </table>

    <br><br><br><br><br><br><br><br>
    <div style="color: #575757; font-style: bold; font-size: 1.5rem; text-align: center;">The records are empty. Please try adding some.</div>
<!-- Log on to freeprojectscodes.com for more projects -->
{% endif %}

<script src="https://cdnjs.cloudflare.com/ajax/libs/xlsx/0.17.5/xlsx.full.min.js"></script>
<script>
    function exportPurchasesToExcel() {
        console.log('Exporting Purchases to Excel...');
        // Get table data
        var table = document.querySelector('.table-css');

        if (table) {
            // Create a new worksheet
            var ws = XLSX.utils.aoa_to_sheet([["Bill No.", "Supplier", "Stocks Purchased", "Quantity Purchased", "Total Purchased Price", "Purchased Date"]]);

            // Iterate over rows in the table and extract relevant data
            table.querySelectorAll('tbody tr').forEach(function(row) {
                var rowData = [
                    row.querySelector('td:nth-child(1)').innerText, // Bill No.
                    row.querySelector('td:nth-child(2)').innerText, // Supplier
                    row.querySelector('td:nth-child(3)').innerText, // Stocks Purchased
                    row.querySelector('td:nth-child(4)').innerText, // Quantity Purchased
                    row.querySelector('td:nth-child(5)').innerText, // Total Purchased Price
                    row.querySelector('td:nth-child(6)').innerText  // Purchased Date
                ];
                XLSX.utils.sheet_add_aoa(ws, [rowData], { origin: -1 });
            });

            // Create a workbook with the worksheet data
            var wb = XLSX.utils.book_new();
            XLSX.utils.book_append_sheet(wb, ws, 'Purchases');

            // Save the workbook as an Excel file
            XLSX.writeFile(wb, 'purchases_list.xlsx');
        } else {
            console.error("Table with class 'table-css' not found.");
        }
    }
</script>

{% endblock content %}